# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.GameDevStory.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../:\GameDevStory\.idea\.idea.GameDevStory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
